<h1>Register</h1>
    <div class="registration-form">
      <form
        action="/auth/register"
        method="POST"
        class="needs-validation"
        novalidate
        autocomplete="off"
      >
        <div class="form-icon">
          <span><i class="icon icon-user"></i></span>
        </div>
        <div class="phoenix-form-highlight">
          <p class="text-center">🐦‍🔥 Join the community! 🐦‍🔥</p>
        </div>

        <div class="form-group">
          <input
            type="email"
            class="form-control item <%= errors && errors.find(e => e.param === 'email') ? 'is-invalid' : '' %>"
            name="email"
            id="email"
            placeholder="Enter your email"
            value="<%= oldInput ? oldInput.email : '' %>"
            required
          />
          <div class="invalid-feedback">
            <%= errors && errors.find(e => e.param === 'email') ? errors.find(e=> e.param === 'email').msg : 'Please enter a valid email.' %>
          </div>
        </div>

        <div class="form-group">
          <input
            type="password"
            class="form-control item <%= errors && errors.find(e => e.param === 'password') ? 'is-invalid' : '' %>"
            name="password"
            id="password"
            placeholder="Enter your password"
            minlength="8"
            required
          />
          <div class="invalid-feedback">
            <%= errors && errors.find(e => e.param === 'password') ? errors.find(e => e.param === 'password').msg : 'Password must be at least 8 characters long.' %>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-block create-account">
            Create Account
          </button>
        </div>
        <div class="social-media">
          <h5>Sign up with social media</h5>
          <div class="social-icons">
            <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
            <a href="#"><i class="icon-social-google" title="Google"></i></a>
            <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
          </div>
        </div>
      </form>
    </div>

    <script>
      (function () {
        "use strict";
        window.addEventListener("load", function () {
          // Fetch all forms we want to apply custom validation to
          var forms = document.getElementsByClassName("needs-validation");

          Array.prototype.forEach.call(forms, function (form) {
            form.addEventListener("submit", function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            });
          });
        });
      })();
    </script>